@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Kayak";
  src: url("/fonts/kayak/light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kayak";
  src: url("/fonts/kayak/light-italic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Kayak";
  src: url("/fonts/kayak/regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kayak";
  src: url("/fonts/kayak/regular-italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Kayak";
  src: url("/fonts/kayak/bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kayak";
  src: url("/fonts/kayak/bold-italic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@layer utilities {
  body {
    @apply font-kayak;
  }
}
